<div class="footer">
  <ul class="list-inline">
    <li><p><a href="https://github.com/saralotfi/float_boat" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></p></li>
  </ul>
  <h3>Floatify</h3>
</div>