<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579052579104-9be1ca94c714?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>On the sea I feel <strong>free</strong>!</h1>
    <p>Rent a boat for your vacation through Floatify</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>