<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579052579104-9be1ca94c714?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <div class="banner-text">
      <h1><em>ADVENTURE</em></h1>
      <p>Rent a boat directly from a boat owner and start your adventure at sea. </p>


        <%= form_tag boats_path, method: :get do %>
          <div class="search-bar" style="opacity: 0.80">
            <%= text_field_tag :address,
            params[:address],
            class: "form-control search-input", id: "typewriter-input"%>

            <div class="search-button">
              <%= button_tag(type: "submit", class: "btn btn-circle custom-circle-button") do %>
                <i class="far fa-compass search-compass"></i>
              <%end%>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

