.boatcard {
  margin-bottom: 26px;
}
.boatcard-image {
  height: 150px;
  background-position: center;
  background-size: cover;
  margin-bottom: 8px;
}

.boat-link {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.boatcard-description  {
  h5 {
    font-size: 16px;
    margin: 0 0 0 0;
  }
  p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 4px;
  }
  span  {
  font-size: 14px;
  }
}