.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer-container {
  background-color: rgb(223, 249, 255);
  height: 130px;
  text-align: center;
  color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-inline {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
  margin: 0;
}

.list-inline > li {
	display: inline-block;
  margin: 0 8px;
  p {
    font-size: 34px;
  }
  a {
    color: rgb(44, 44, 44);
    &:hover{
      color: $blue;
    }
  }
}

.footer {
  h3 {
    font-weight: 700;
  }
}
