.mapboxgl-popup {
  max-width: 250px;
  min-width: 250px;
  margin-bottom: 0;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

.map-description {
  padding: 0 10px;
}
