.navbar-lewagon {
  justify-content: space-between;
  background-color:white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: 0 8px;
}


.nav-link {
  color: black;
}

.navbar-home  {
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  width: 100vw;
  a.nav-link {
    color: white;
    &:hover {
      color: rgb(202, 202, 202);
    }
  }
}

.nav-item.active {
  .nav-link {
    font-weight: 700;
    &:hover {
      color: rgb(61, 61, 61);
    }
  }
}

.nav-item {
  .nav-link {
    &:hover {
      color: rgb(61, 61, 61);
    }
  }
}


