<div class="container mt-3">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="boatcard">

          <div class="boatcard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?boat');">
          </div>
          
          <div class="boatcard-description">

            <h5><strong><%= link_to "#{boat.name}", boat, class: "boat-link" %></strong></h5>
            <p><%= boat.address %></p>
            <h5><strong>£<%= boat.daily_rate %></strong> <span>/day</span></h5>
          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>
