<div class="container mt-3">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="boatcard">
          <% if boat.photos.attached? %>
            <div class="boatcard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photos.first.key %>')">
            </div>
          <% else %>
            <div class="boatcard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1605281317010-fe5ffe798166?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1328&q=80')">
            </div>
          <% end %>
          
          <div class="boatcard-description">

            <h5><strong><%= link_to "#{boat.name}", boat, class: "boat-link" %></strong></h5>
            <p><%= boat.address %></p>
            <h5><strong>£<%= boat.daily_rate %></strong> <span>/day</span></h5>
          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>
