<div class="container mt-3">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="boatcard">
          <% if boat.photos.attached? %>
            <div class="boatcard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photos.first.key %>')">
            </div>
          <% else %>
            <div class="boatcard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.skipperi.com/upload/24109/1920/boat-2021-02-21-10-03-22-2b64343f-2ced-46f2-8def-b97b528cec9a.jpeg?timestamp=1613901804')">
            </div>
          <% end %>
          
          <div class="boatcard-description">

            <h5><strong><%= link_to "#{boat.name}", boat, class: "boat-link" %></strong></h5>
            <p><%= boat.address %></p>
            <h5><strong>£<%= boat.daily_rate %></strong> <span>/day</span></h5>
          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>
