<!-- # Banner
# Header name
# Address
# Description
# Daily Rates -->

<div><img src="https://www.skipperi.com/upload/24109/1920/boat-2021-02-21-10-03-22-2b64343f-2ced-46f2-8def-b97b528cec9a.jpeg?timestamp=1613901804" width= "600" height= "400" alt="boat banner"></div>

<h1><%= @boat.name %></h1>
<p><%= @boat.address %></p>
<div><%= @boat.description %>
</div>
<p>£<%= @boat.daily_rate %></p>


